
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f1f1f1;
	padding: 10px;
	
}

.navbar .logo {
	font-size: 24px;
	font-weight: bold;
	color: #333;
}

.navbar ul {
	display: flex;
	gap: 20px;
	list-style: none;
	margin-right: 3vw;
}

.navbar ul li a {
	color: #333;
	text-decoration: none;
	transition: color 0.3s ease;
}

.navbar ul li a:hover {
	color: #ff6600;
}

.navbar ul li.active a {
	color: #ff6600;
	font-weight: bold;
}